:root {
  --lapis-blue: #2f6690;
  --platinum-white: #d9dcd6;
  --sky-blue: #81c3d7;
  --indigo-blue: #16425b;
  --ceruelian-blue: #3a7ca5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blue-light);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
}
