* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blue-light);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
}
