:root {
  --lapis-blue: #2f6690;
  --platinum-white: #d9dcd6;
  --sky-blue: #81c3d7;
  --bg-color: #16425b;
  --ceruelian-blue: #3a7ca5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 144rem;
  padding-inline: 10rem;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem 0;
  z-index: 1000;
  left: 0;
}
nav p {
  font-size: 5vh;
}

.nav_links a {
  gap: 6.4rem;
  font-size: 2.5vh;
}

.nav_links {
  display: flex;

  gap: 2rem;
}

.title {
  padding-block: 20rem;
  font-size: 8rem;
  line-height: 0.8;
  letter-spacing: -0.65rem;
  text-transform: uppercase;
}
