.about_main_container {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  height: 100rem;
}

.about_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_section p {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  width: 50%;
}

img {
  height: 30rem;
}

.slide_in_image_about {
  width: 30%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-out, opacity 0.8s ease-out;
}

.slide_in_image_about.slide_in_active_about {
  transform: translateX(0);
  opacity: 1;
}
